<div class="card m-5 p-5">
  <div class="card-image">
    <!-- cat image url -->
    <figure class="image is-3by2">
      <img
        src="<%= cardData.imageUrl %> "
        alt="Placeholder image"
        style="
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 50%;
        "
      />
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content store-item">
        <!-- cat food name -->
        <p class="title is-6"><%= cardData.name %></p>
        <!-- cat item price -->
        <p class="content price">$<%= cardData.price %></p>
        
      </div>
    </div>

    <footer class="card-footer">
      <button class="button is-black is-fullwidth" onclick="openModal('confirm-modal<%= cardData.id %>')">
        add to cart
      </button>
    </footer>
  </div>
</div>
  <!-- Card Confirm Modal -->
  <%- include('confirm-modal',{cardData: cardData}) %>