<div class="columns">
    <div class="column">
      <%- include('../partials/catFoodCard') %> 
    </div>
    <div class="column">
        <%- include('../partials/catFoodCard') %>
    </div>
    <div class="column">
        <%- include('../partials/catFoodCard') %>   
    </div>
    <div class="column">
        <%- include('../partials/catFoodCard') %>
    </div>
</div>
<div class="columns">
    <div class="column">
      <%- include('../partials/catFoodCard') %> 
    </div>
    <div class="column">
        <%- include('../partials/catFoodCard') %>
    </div>
    <div class="column">
        <%- include('../partials/catFoodCard') %>   
    </div>
    <div class="column">
        <%- include('../partials/catFoodCard') %>
    </div>
</div>